
<!DOCTYPE html>
<html>
<head>
  <title>A Meaningful Page Title</title>
  {%- assign page_title = page.title | default: site.title -%}
  {%- assign page_description = page.description | default: site.description -%}
</head>
  
  
  

  <!-- UiKit CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/uikit.min.css" | relative_url }}">
 
  <!-- UiKit Javascript -->
  <script type="text/javascript" src="{{ "/assets/js/uikit.min.js " | relative_url }}"></script>
  <script type="text/javascript" src="{{ "/assets/js/uikit-icons.min.js " | relative_url }}"></script>

</head>
