
<!DOCTYPE html>
<html>
<head>
  <title>A Meaningful Page Title</title>
  {%- assign page_title = page.title | default: site.title -%}
  {%- assign page_description = page.description | default: site.description -%}
  
  <!-- UiKit CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/uikit.min.css" | prepend: site.baseurl }}">
 
  <!-- UiKit Javascript -->
  <script type="text/javascript" src="{{ "/assets/js/uikit.min.js " | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/assets/js/uikit-icons.min.js " | prepend: site.baseurl }}"></script>
  
</head>
</head>
