---
layout: default
---
<body>
  <div class="uk-container-expand">
    <div class="uk-section-default">
      <div class="uk-section-large uk-light uk-background-fixed uk-background-cover uk-background-center uk-blend-darken" style="background-image: url({{ "/assets/img/boats.jpg" | relative_url }}); background-color: grey; background-blend-mode: multiply; ">
        <div class="intro-text uk-container">
          <h2 class="uk-heading-primary">Eon Project</h2>
          <div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
            <div>
              <h3 class="uk-h4">Un nuevo proyecto creado mediante <a href="https://www.rpgmakerweb.com/products/rpg-maker-mz" target="_blank">RPG Maker MZ</a>.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="Features" class="uk-section uk-section-muted ">
      <div class="uk-container">
        <h2 class="uk-heading-line"><span>Enlaces rápidos</span></h2>
        <div class="uk-grid-match uk-height-match uk-child-width-1-3@s uk-flex" uk-grid>
          
          <div>
            <a class="uk-link-muted" href="https://drive.google.com/drive/folders/1ie6PFF0tQaGfOKNtPvk8dMwqXPOddcU3?usp=sharing" target="_blank">
            <div class="uk-inline uk-margin">
              <img class="uk-border-rounded" src="{{ "/eonproject/assets/img/download.png" | relative_url }}">
              <div class="uk-text-center uk-padding-small">
                <h4>Descargar última versión</h4>
                <p>La versión más reciente del <strong>Proyecto Eón</strong>.</p>
              </div>
              </div>
              </a>
              <a href="https://drive.google.com/drive/folders/1_7Ksz_vMeieksxc6ynFrCgsMrHDMcOJt?usp=sharing" target="_blank"><p class="uk-text-small uk-text-center">Ver todas las versiones publicadas</a></p>
          </div>

          <div>
            <a class="uk-link-muted" href="https://github.com/Throyd/eonproject/wiki" target="_blank">
            <div class="uk-inline uk-margin">
              <img class="uk-border-rounded" src="{{ "/eonproject/assets/img/bug.png" | relative_url }}">
              <div class="uk-text-center uk-padding-small">
                <h4>Informar de un error</h4> 
                ¿Has encontrado un error? Al ser un software en desarrollo, toda la información que nos puedas precisar es extramadamente importante. 
                
              </div>
            </div>
              </a>
            <a href="" target="_blank"><p class="uk-text-small uk-text-center">Guía: Informar de un error.</p></a>
          </div>

          <div>
            <a class="uk-link-muted" href="https://github.com/Throyd/eonproject/wiki" target="_blank">
            <div class="uk-inline uk-margin">
              <img class="uk-border-rounded" src="{{ "/eonproject/assets/img/wiki.png" | relative_url }}">
              <div class="uk-text-center uk-padding-small">
                <h4>Wiki del Proyecto Eón</h4> La <strong>wiki oficial</strong> del <strong>Proyecto Eón</strong>. <p class="uk-text-small">Actualizada no lo suficientemente a menudo.</p>
              </div>
            </div>
              </a>
          </div>
        
        </div>
      </div>
    </div>

    <div id="aboutus" class="uk-section uk-section-secondary">
      <div class="uk-container">
        <h2 class="uk-heading-line"><span>Sobre nosotros</span></h2>
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
          <div>
            <p>
              <strong>DEV beaters</strong> es un grupo de desarrolladores con un único desarrollador: <strong>Jhin</strong>.<br />
              Es por ello que el <strong>Proyecto Eón</strong> se está realizando con todo mi <span uk-icon="icon: heart"></span>, intentando mantener en todo momento intacta mi visión de la historia, de los personajes y de su mundo.<br />
              Y aunque en un principio empezó como un proyecto amateur a día de hoy se ha convertido en un proyecto mucho más ambicioso y dispone de arte y plugins personalizados, asi como un detallado lore que abarca varias deceneas de miles de años de historia.
              <br><br>
             </p>
          </div>
          <div class="uk-text-center.">
            ¿Quieres apoyarme? <br />
            ¡¡Considera invitarme a una ración de cafeína líquida!!
            <div class="uk-text-center">
            <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="devbeaters" data-color="#FF5F5F" data-emoji=""  data-font="Arial" data-text="Buy me a coffee" data-outline-color="#000" data-font-color="#fff" data-coffee-color="#fd0" ></script>
            </div>
            <p class="uk-text-small">Cualquier donación es considerada como voluntaria y no otorga ningún tipo de acceso anticipado al <strong>Proyecto Eón</strong>, así como a sus recursos, plugins o material derivado.
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
